<div class="well well-md col-md-10 col-md-offset-1">

<!-- <form id="movie-search-form", method="POST", action="search", data-remote="true">
  
  <input name="authenticity_token" type="hidden" value="token_value">
  
  Why don't you just tell me the name of the movie to search for?<br>
  <input type="text" name="query" id="search-bar"/>
  <input type="Submit"/>
</form>

<div id="search-results"></div>
 -->
<h2 class="text-center">All the movies</h2>
  <ul class="list-group text-center">
  <% @movies.each do |movie| %>
    <li class="list-group-item text-center movie-card" style="display: inline-block; width:15%; margin-bottom: 3px;"><a href="<%= movie["link"] %>">
        <img src="<%= movie['thumbnail'] %>" style="height:150px;" title="<%= movie["name"] %>">
      </a>
    </li>
  <% end %>
  </ul>

</div>