<div class="col-lg-6 col-lg-offset-3">
  <div class="well bs-component">
    <h3 class="welcome-msg col-lg-offset-3">Sign up</h3><br>
 
    <form action="/users" method="POST">
      <input name="authenticity_token" type="hidden" value="token_value">
      Name:<br>
      <input type="text" name="user[name]"><br>
      Email:<br>
      <input type="email" name="user[email]"><br>
      Password:<br>
      <input type="password" name="user[password]"><br>
      Password Confirmation:<br>
      <input type="password" name="user[password_confirmation]"><br>
      <input id="submit-new-user" type="submit" value="Submit">
    </form>
   </div>
</div>
